

<div id="main">

</div>

<div class="plane-container">

</div>

<div class="reservations">
  <ul id="reservations">

  </ul>
</div>

<script type="text/javascript">
app.GlobalUser = <%= @current_user.id %>
</script>

<script type = "text/template" id= "appView">
  <h1>Search Flights</h1>
  <div id="search">
  </div>
  <ul id="results"></ul>

  <div id="plane_choice"></div>
</script>


<script id="searchView" type="text/template">
  <textarea autofocus placeholder="Origin" id="origin"></textarea>
  <textarea autofocus placeholder="Destination" id="destination"></textarea>
  <button id='searchButton'>Search</button>
</script>


<!-- <script id="reservationTemplate" type="text/template">
  <li>{{ flight_no }}, {{ date }}, {{origin}} to {{destination}}, Seat: {{ seat }} </li>
</script> -->


<script id="resultsView" type="text/template">

</script>

<script id="flight_name" type="text/template">

</script>

<script id="flight_image" type="text/template">

</script>
