<p>this is where our single page app will live</p>


<div id="main">
  <p id="testing">hello??</p>
</div>

<script id="search" type="text/template">

</script>

<script id="results" type="text/template">

</script>

<script id="flight_name" type="text/template">

</script>

<script id="flight_image" type="text/template">

</script>
