<p>this is where our single page app will live</p>


<div id="main"></div>

<script id="search">

</script>

<script id="results">

</script>

<script id="flight_name">

</script>

<script id="flight_image">
  
</script>
