// Place all the styles related to the Airplanes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .plane-container{
//   margin: 2em;
//   background-image: url(https://www.flysaa.com/cms/ZA/Documents/Images/fleet_information/SAA_A320-200_LOPA_vertical_BOC_amended.jpg);
//   background-size: cover;
//   width: 800px;
//   height: 1000px;
// }

#save{
  display: inline-block;

  margin: 2em auto;
  margin-left : 8em;


}
