// Place all the styles related to the Flights controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// #main ?? don't think i'll mess with

#search {
  display: inline-block;

}

#origin {
  display: inline-block;
  width: 48%;
  margin-top: 1em;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 2px #999;

}

#destination {
  display: inline-block;
  width: 48%;
  margin-top: 1em;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 2px #999;

}

#searchButton {
display: inline-block;
width: 98%;
padding: 15px 25px;
font-size: 24px;
text-align: center;
color: #fff;
background-color: #ff9933;
border: none;
border-radius: 5px;
box-shadow: 1px 3px #999;
margin-bottom: 1em;
}

#searchButton:hover {
  background-color: #ff8000;
}

#searchButton:active {
  background-color: #ff8000;
  box-shadow: 2px 6px #666;
  transform: translateY(2px);
}

#reservations {

}
