// Place all the styles related to the Reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.seat{
  display: inline-block;
  border: 1px solid black;
  width:50px;
}

.plane {
  width: 330px;
}

.reserved{
  background-color:black;
  color: white;
}

.taken{
  background-color: red;
    color: white;
}
#main{
  display: inline-block;
  width: 48%;

}
.reservations{
  display: inline-block;
    width: 40%;
  vertical-align: top;
    border: 1px solid #ccc;

}
