// Place all the styles related to the Reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.seat{
  display: inline-block;
  border: 3px solid black;
  margin: 2px;
  width:50px;
}

.plane {

  width: 330px;
  text-align: center;
  margin: 1em auto 0 auto;
}

.seat{
    background-color: lightyellow;
    cursor: pointer;
}

.reserved{
  background-color:black;
  color: white;
}

.taken{
  background-color: red;
    color: white;
}
#main{
  display: inline-block;
  width: 48%;
  margin-top: 2em;

}

#main p{
  color: red;
  font-weight: bold;
  text-align: center;
}
.reservations{
  display: inline-block;
    width: 40%;
    vertical-align: top;
  margin-top: 4em;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #888888;
    padding-bottom: 1em;
}

.reservations h3{
  color: red;
}

#results li {
  cursor:pointer;
}


#toolView{
 text-align: center;
}

#results:hover li {
  color: #ff8000;


.toolHeading{
  font-weight: bold;
}
.fire{
  background-image: url(http://wallpaper-gallery.net/images/fire-pic/fire-pic-10.jpg);
  height: 360px;
  width: 100%;
  background-size: cover;
  background-position: bottom;
}
