// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.home_page {
  height: 600px;
  background-image: url('../assets/flame_drawing.jpg');
  background-size: 20%;
}

div.orange {
  background-color: orange;
  opacity: .3;
  height: 40px;
}
div.red {
  background-color: red;
  opacity: .3;
  height: 40px;
}
div.yellow {
  background-color: yellow;
  opacity: .3;
  height: 40px;
}
